@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Add this CSS in your global stylesheet (e.g., styles.css) */
@media (max-width: 768px) {
  .event-container-detailspage {
    flex-direction: column !important;  /* Stack the image and details vertically */
  }
  
  .event-image-detailspage, .event-details-detailspage {
    width: 100% !important;  /* Ensure each takes full width on small screens */
  }
}
